#pragma once

#include "resource.h"
#include "Source.h"

DATAENTRY DIALOGEX 50, 50, 557, 218
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "DATAENTRY"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    CTEXT           "Enter Name",IDC_STATIC,19,10,50,12
    CTEXT           "Date of Birth",40,20,40,50,12
    EDITTEXT        4,82,10,158,14
    PUSHBUTTON      "OK",IDOK,123,126,35,12
    PUSHBUTTON      "CANCEL",IDCANCEL,245,124,48,12
    COMBOBOX        IDC_COMBO1,81,38,48,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO2,139,38,48,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO3,197,38,48,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Education",IDC_STATIC,25,68,38,8
    COMBOBOX        IDC_COMBO4,81,65,48,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Company",IDC_STATIC,25,101,30,8
    EDITTEXT        IDC_EDIT2,83,97,40,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Win32",IDC_BUTTON1,24,156,50,14
    PUSHBUTTON      "ClassFactory",IDC_BUTTON2,89,155,50,14
    PUSHBUTTON      "Containment",IDC_BUTTON3,155,156,50,14
    PUSHBUTTON      "Aggregation",IDC_BUTTON4,224,155,50,14
    PUSHBUTTON      "Automation",IDC_BUTTON5,291,155,50,14
    PUSHBUTTON      "Dot Net Interop",IDC_BUTTON6,361,156,79,14
    PUSHBUTTON      "UWP(!!)",IDC_BUTTON7,460,158,50,14
    LTEXT           "Static",IDC_STATIC,80,25,19,8
    LTEXT           "Static",IDC_STATIC,81,54,19,8
    LTEXT           "Static",IDC_STATIC,142,54,19,8
    LTEXT           "Static",IDC_STATIC,199,52,19,8
    LTEXT           "Static",IDC_STATIC,81,81,19,8
    LTEXT           "Static",IDC_STATIC,83,114,19,8
END
